body {
    background: rgb(49, 8, 31);
    font-family: Arial;
}

.header {
    margin: 10px 10px 2px 10px;
    background: rgb(0, 0, 0);
    display: flex;
    padding: 25px 25px 25px 50px;
    align-items: center;
    
}

.header div {
    color: rgb(148, 106, 106);

    text-align: center;

    flex: 1;

}



.header div:last-child {
    margin-right: 100px;
}

.header div button {
    height: 30px;
    width: 100px;
    border-radius: 25px;
    background: rgb(148, 106, 106);
    border: 2px solid rgb(173, 142, 142);
}

.header div button:hover {
    background: rgb(87, 61, 61);
}

.section1 {
    display: flex;
    margin: 0px 10px 2px 10px;
    background: black;
    color: rgb(173, 142, 142);
    padding: 25px 25px 25px 50px;
    height: 600px;
}
.section1 div{
    flex:1;
}

.section1 ul li {
    list-style-type: none;
}

.section1 .picture {
    background-size:540px;
    
    margin-left: 100px;
    /* width: 540px;
    height: 480px; */
   
    background-image: url('3.jpg');
    background-repeat: no-repeat;
    
}

.section1 button {
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background: rgb(148, 106, 106);
    margin-right: 10px;
    border: 2px solid rgb(173, 142, 142);
}

.section1 button:hover {
    background: rgb(87, 61, 61);
}

.section2 {
    background: black;
    color: rgb(173, 142, 142);
    margin: 0px 10px 10px 10px;
    text-align: center;
    padding: 50px 0px 50px 0px;
}



.form-popup{
    display:none;
    position:fixed;
    border: 3px solid rgb(173, 142, 142);

}
.form-container{
    max-width:300px;
    padding:10px;
    background-color:gray;
    
}

.form-container input[type=text]:focus{
    background-color:white;
    outline:none;
    padding:15px;
}

.form-container .btn{
    background-color:rgb(148, 106, 106);
    opacity:0.7;
    color:black;
    text-align:center;
    border:none;
}
.form-container .cancel{
    border:none;
    background-color:rgb(87, 61, 61);
    opacity:0.7;
    color:black;
    text-align:center;
}
.form-container .btn:hover, .cancel:hover{
    opacity:1;
}